body {
    color: #222930;
    background-color: #f7e2d5;
}

h1 {
    font-family: 'Ubuntu', Arial, sans-serif;
}

h2 {
    font-family: 'Ubuntu', Arial, sans-serif;
}

h3 {
    font-family: 'Ubuntu', Arial, sans-serif;
}

p {
    font-family: 'Ubuntu', Arial, sans-serif;
}
