
article {
    width: 960px;
    margin: auto;
}


h1 {
    font-family: Georgia,Times,Times New Roman,serif;
	  font-size: 3em;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: 500;
	  line-height: 26.4px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
	  font-family: Georgia,Times,Times New Roman,serif;
	  font-size: 1.8em;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: 500;
	  line-height: 15.4px;
}


p, blockquote, ul, ol {
    font-size: 20px;
    line-height: 1.5em;
    font-family: Georgia,Times,Times New Roman,serif;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: 400;
    max-width: 65em;
    word-wrap: break-word;
}

#facts {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    list-style-image: url('../img/cup-icon.svg');
    line-height: 1.5em;
    padding-left: 1.5em;
}

#cover-image {
    width: 100%;
    height: auto;
}

.byline {
    color: #9799a7;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
    color: dimgray;
}
